body {
	overflow: hidden;
	background: #d3d4d6 url("https://i.postimg.cc/wvCTpSsR/pink.jpg") no-repeat center fixed;
}

.container .btn {
	position: fixed;
	bottom: 0;
	background-color: inherit;
	font-size: 18px;
	padding: 8px 8px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

.container .btn:hover {
	background-color: black;
}

.btn a {
	text-decoration: none;
	color: #fa57aa;
}

@media screen and (max-width: 990px) {
	body {
		background: whitesmoke url('https://i.postimg.cc/SxBpqWqJ/pinkbirthday.jpg') no-repeat center fixed;
		background-size: 100%;
	}
}

@media screen and (max-width: 892px) {
	body {
		background: url('https://i.postimg.cc/Y0F6kQMC/LoveDay.jpg') no-repeat center fixed;
		background-size: 100%;
		overflow: hidden;
	}
	div.container {
		position: fixed;
		bottom: 0;
		left: 6%;

	}
	.container a {
		color: hotpink;
		font-size: 18px;
		font-weight: bold;
	}
}

@media screen and (max-width: 690px) {
	body {
		background: #fececa url('https://i.postimg.cc/cHR6rvtS/simple.jpg') no-repeat center fixed;
		background-size: 100%;
	}
}